.profile-container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 250px;
    padding-bottom: 40px;
    height: 100vh;
}
.side-heading {
    color: rgba(148, 163, 184, 1);
    font-weight: 500;
    font-size: 25px;
}
.side-heading2 {
    color: rgba(148, 163, 184, 1);
    font-size: 25px;
}
.para-profile {
    font-size: 25px;
}
.para-profiletext {
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px;
}
.icon-profile-container {
    background: rgba(24, 24, 24, 1);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
}