.search-bg-container {
    background: rgba(19, 19, 19, 1);
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding-left: 450px;
    padding-right: 450px;
}
.movies-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.movie-item {
    height: 50px;
    width: 100px;
}
.search-not-found {
    align-items: center;
    text-align: center;
    padding: 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 10px;
    border-width: 0px;
    background-color: white;
    cursor: pointer;
}

.pagination button.active-page {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    border-width: 0px;
}

.pagination button:hover {
    background-color: #007bff;
    color: white;
}
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 606px) {
    .search-bg-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 150px;
        padding-bottom: 20px;
    }
    .search-not-found-image {
        height: 250px;
        width: 300px;
    }
}