.home-container {
    background-image: linear-gradient(to right, #181818, rgba(24, 24, 24, 0.8) 57%, rgba(24, 24, 24, 0) 100%), url('https://res.cloudinary.com/defacaof3/image/upload/v1730290187/Image_i9hhzm.png');
    background-size: cover;
    height: 100vh;
    padding-top: 250px;
    padding-left: 140px;
    padding-bottom: 140px;
}

@media (max-width: 606px) {
    .home-container {
        background-image: linear-gradient(to right, #181818, rgba(24, 24, 24, 0.8) 57%, rgba(24, 24, 24, 0) 100%), url('https://res.cloudinary.com/defacaof3/image/upload/v1730290187/Image_i9hhzm.png');
        background-size: cover;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
}
.banner-text-container {
    padding: 50px;
}
.home-banner-para {
    font-size: 19px;
    padding: 10px;
}         
.home-banner-head {
    font-size: 55px;
    padding: 10px;
}
.home-banner-button {
    margin: 10px;
}
.bottom-home-container {
    background: rgba(19, 19, 19, 1);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
}
.bottom-home-head {
    font-size: 23px;
    padding-top: 20px;
    padding-left: 60px;
}
.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
}
.icon-style {
    height: 26px;
    width: 26px;
    margin: 20px;
}